{
  "env": {
    "module": {
      "presets": [ [ "env", { "targets": { "node": 8 }, "modules": false } ] ],
      "plugins": [ "transform-class-properties", [ "transform-object-rest-spread", { "useBuiltIns": true } ], [ "module-resolver", { "root": [ "./" ] } ] ]
    },
    "test": {
      "presets": [ [ "env", { "targets": { "node": 8 } } ] ],
      "plugins": [ "transform-class-properties", [ "transform-object-rest-spread", { "useBuiltIns": true } ], [ "module-resolver", { "root": [ "./" ] } ] ]
    }
  }
}
