# ignore folder of file with `-gitignore`
**/*-gitignore/**
**/*-gitignore*

# editor
/.vscode
/.idea

# nodejs, npm, npm tarballs
node_modules
.npmrc
/*.tgz

# create your own `~/.config/git/ignore` config if you need more, see https://docs.github.com/get-started/git-basics/ignoring-files
