# Logs
logs
*.log

# Dependency directory
node_modules

# WebStorm configuration
.idea

# distribute file
**/*-gitignore/**
/*.tgz
/example/Dr.js
/example/Dr.node.js
/example/Dr.browser.js
/library
/module
