# Platform quirk
*~
Thumbs.db
.DS_Store

# Log
log
logs
*.log

# Editor configuration
.idea
.vscode

# Dependency directory
node_modules

# Output of `npm pack`
/*.tgz

# Ignore folder of file with `-gitignore`
**/*-gitignore/**
**/*-gitignore*
